<!DOCTYPE html>
<html lang="en">
<head>
    {% comment %} <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Home</title>
</head>
<body class="text-center my-4" >
   <h2>Welcome to our website</h2>
    <p>
    Please login to view your products
    </p>
    <a href="/login">
    <button class="btn btn-primary" >Login</button>
    </a>
</body>
</html>